.container {
    margin-bottom: 100px;
}

.panda-bg {
    background-color: #FEEAE9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.top-banner h2{
    color: #FF136F;
}

.cat-1{
    background-color: orange;
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}

